<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reppy - Home</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/general.css">
</head>
<body class="d-flex flex-column">
    <div id="page-content">
    {{ template "header" }}
        <!-- Page Content -->
        <div class="container">
            <form id="create-reppy">
                <h4>Criar república</h4>
                <div class="form-group">
                    <label for="name">Nome da república</label>
                    <input type="text" class="form-control" id="name" placeholder="">
                </div>
                <div class="form-group">
                    <label for="price">Valor total do aluguel</label>
                    <input type="text" class="form-control" id="price" placeholder="">
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Criar</button>
            </form>

            <div class="row">
            {{ range .Properties }}
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="https://source.unsplash.com/TMgQMXoglsM/500x350" class="card-img-top" alt="...">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">{{ .Name }}</h5>
                            <div class="card-text text-black-50">R${{ .Price }}</div>
                        </div>
                    </div>
                </div>
            {{ end }}
            </div>
        </div>
        <!-- /.container -->
    </div>
    {{ template "footer" }}
    {{ template "scripts" }}
    <script src="/assets/js/properties.js"></script>
</body>
</html>