{{ define "header" }}
<nav class="navbar navbar-expand-lg navbar-dark bd-navbar">
    <div class="container">
        <a class="navbar-brand" href="/home">Reppy</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/dashboard">dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/republica">república</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/acomodacoes">acomodações <span class="badge rounded-pill bg-warning text-dark">4</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/moradores">moradores <span class="badge rounded-pill bg-warning text-dark">5</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/contas">contas</a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/perfil">perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/logout">sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{ end }}